.Rproj.user
.Rhistory
.RData
.Ruserdata
/Archive/
/Outputs/M/
/Outputs/Temperature/
/Outputs/Belcher/
# LaTeX #
*.aux
*.bbl
*.blg
*.dvi
*.fff
*.lof
*.log
*.lot
*.out
*.toc
*.ttt
*.fdb_latexmk
*.pdf
*.fls
*.enex
/Paper/Anna_Plots/
# Models #
*.rds
