.Rproj.user
.Rhistory
.RData
.Ruserdata
/Archive
/MixSIAR/Archive/
/MixSIAR/Outputs/M/
/MixSIAR/Outputs/Temperature/
# LaTeX #
*.aux
*.bbl
*.blg
*.dvi
*.fff
*.lof
*.log
*.lot
*.out
*.toc
*.ttt
*.fdb_latexmk
*.pdf
*.fls
# Models #
*.rds
