.Rproj.user
.Rhistory
.RData
.Ruserdata
/Archive

/Outputs/Posteriors/
/MixSIAR/Outputs/
/MixSIAR/Archive/

# LaTeX #
*.aux
*.bbl
*.blg
*.dvi
*.fff
*.lof
*.log
*.lot
*.out
*.toc
*.ttt
*.fdb_latexmk
*.pdf
*.fls